extends layout

block content
	div.container
		h1 About
		p A live discuss system wrote by mhy12345
		p Source Code : 
			a(href='https://github.com/mhy12345/OwlLive') https://github.com/mhy12345/OwlLive
		p Pull requests are welcome!
