extends layout


block append head
		link(rel='stylesheet', href='/stylesheets/panel.css')

block content
	div.container
		form.panel-form(method='post')
			select(name='command')
				option(value='none') None
				option(value='newroom') NewRoom
				option(value='stoproom') StopRoom
				option(value='freezeuser') Freeze User
				option(value='clearusers') Clear Users
				option(value='clearmessages') Clear Messages
				option(value='clearrooms') Clear Rooms
			input(type='text',name='params')
			input(type='submit')
