extends layout

block content
	div.container
		h1 Users
		div.table-responsive
			table.table.table-striped
				thead
					tr
						th #
						th Header
				tbody
					each it in utable
						tr
							td #{it.name}
							td #{it.level}
